<pep-page-layout>
    <ng-container pep-top-area >
        <pep-top-bar [title]="('DataAndUsageReportTitle' | translate)">
            <div header-start-content>
            </div>
            <div header-end-content class="pep-spacing-element">
                <p class="title-md">{{'Lastupdatedonweekdatetime' | translate}} {{weekNumber}}: {{lastUpdatedDate}}</p>
                <pep-menu
                    text=""
                    iconName="system_menu"
                    type="action"
                    styleType="weak"
                    sizeType="md"
                    classNames=""
                    [items]="menuItems"
                    [disabled]="false"
                    (menuItemClick)="menuItemClick($event)"
                ></pep-menu>
            </div>
        </pep-top-bar>
        <pep-dimx #dimx [DIMXAddonUUID]="'00000000-0000-0000-0000-000000005a9e'" [DIMXResource]="'UsageMonitor'"></pep-dimx>

    </ng-container>
    <div pep-main-area class="tabs-container">
        <mat-tab-group  
            dynamicHeight #tabGroup
            [selectedIndex]="activeTabIndex"
            (selectedTabChange)="tabClick($event)"
            animationDuration="100ms" class="fixed-header"
        >
            <mat-tab id="1" label="{{'DataTabHeader' | translate}}">
                <addon-pepperi-list-exmaple [type]="'Data'" [ID]='0' [isActive]="activeTabIndex === 0" [data]="activeTabIndex === 0 ? currentData : null"></addon-pepperi-list-exmaple>
            </mat-tab>
            <mat-tab  id="2" label="{{'UsageTabHeader' | translate}}">
                <addon-pepperi-list-exmaple [type]="'Usage'" [ID]='1' [isActive]="activeTabIndex === 1" [data]="activeTabIndex === 1 ? currentData : null"></addon-pepperi-list-exmaple>
            </mat-tab>
            <mat-tab  id="3" label="{{'SetupTabHeader' | translate}}">
                <addon-pepperi-list-exmaple [type]="'Setup'" [ID]='2' [isActive]="activeTabIndex === 2" [data]="activeTabIndex === 2 ? currentData : null"></addon-pepperi-list-exmaple>
            </mat-tab>
            
            <mat-tab *ngFor="let tab of relationsData; let index = index" [label]="getRelationDataTabLabel(tab)">
                <addon-pepperi-list-exmaple [type]="'Relation'" [ID]=index+3 [isActive]="activeTabIndex === index+3" [relationsData]="activeTabIndex === index+3 ? tab : null"></addon-pepperi-list-exmaple>
              </mat-tab>

        </mat-tab-group>
    </div>
</pep-page-layout>
