<!-- <main> -->
<!-- <div class="addon-page-container1"> -->

    <pep-top-bar [inline]="true" [title]="(totalRows === 1 ? 'ListTotal_ShowingResult' : 'ListTotal_ShowingResults') | translate: { totalRows: totalRows, objectType: type | translate  }">
        <div header-start-content>
        </div>
        <div header-end-content class="pep-spacing-element-negative">
        </div>
        <!-- <pep-list-actions #listActions *ngIf="showListActions" (menuClick)="onLeftMenuClicked();" (actionClick)="onMenuItemClicked($event)" sizeType="sm" [actions]="leftMenuItems | async"></pep-list-actions> -->
    </pep-top-bar>

    <pep-table [dataSource]="latestDataArray" [displayedColumns]="displayedColumns"
        [customizeTable]="customizeDataRowField" (selectedItemsChanged)="selectedRowsChanged($event)"
        (sortingChanged)="onSortingChanged($event);"></pep-table>